* {
    cursor: crosshair;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

#score-pop {
    position: absolute;
    top: 20%;
    width: 100%;
    font-size: 3em;
    text-align: center;
    font-family: "Roboto Slab", serif;
    animation-name: score-jump;
    animation-duration: 300ms;
}

@keyframes score-jump {
    0% {
        font-size: 4.5em;
    }
    50% {
        font-size: 2.7em;
    }
    100% {
        font-size: 3em;
    }
}

#score-percent {
    font-size: 0.5em;
    color: #ddda;
}

#score-percent-detail {
    font-size: 0.4em;
}

#draw {
    display: block;
}

#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#scoreboard {
    width: 20em;
    text-align: center;
    color: #ddda;
}

#scores-perfect {
    float: left;
    width: 5em;
}

#scores-great {
    float: left;
    width: 5em;
}

#scores-good {
    float: left;
    width: 5em;
}

#scores-bad {
    float: left;
    width: 5em;
}

strong {
    --spacing: 0.05em;
    --spacing-neg: -0.05em;
    --blur: 0.1em;

    text-shadow: 
    var(--spacing-neg) var(--spacing-neg) var(--blur) #f22b,
                     0 var(--spacing-neg) var(--blur) #ff2b,
        var(--spacing) var(--spacing-neg) var(--blur) #2f2b,
        var(--spacing)     var(--spacing) var(--blur) #2ffb,
                     0     var(--spacing) var(--blur) #22fb,
    var(--spacing-neg)     var(--spacing) var(--blur) #f2fb;
}