* {
    cursor: crosshair;
}

body {
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

#scores {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

#draw {
    display: block;
    background-color: #555;
}