* {
    cursor: crosshair;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

#score {
    position: absolute;
    top: 20%;
    width: 100%;
    font-size: 3em;
    text-align: center;
    font-family: "Roboto Slab", serif;
    animation-name: score-jump;
    animation-duration: 300ms;
}

@keyframes score-jump {
    0% {
        font-size: 4.5em;
    }
    50% {
        font-size: 2.7em;
    }
    100% {
        font-size: 3em;
    }
}

#score-percent {
    font-size: 0.5em;
    color: #ddda;
}

#score-percent-detail {
    font-size: 0.4em;
}

#draw {
    display: block;
}